<h1>Books</h1>
<table >
	<tr>
		<td>Title</td>
		<td>Body</td>
	</tr>
</table>
<% @books.each do |book| %>
	<table border="1">
	<tr>
		<td><%= book.title %></td>
		<td><%= book.body  %></td>
		<td><%= link_to "Show", book_path(book.id) %></td>
		<td><%= link_to "Edit", "/books/#{book.id}/edit" %></td>
		<td><%= link_to "Destroy", "/books/#{book.id}" , method: :delete, "data-confirm" => "Are you sure？" %></td>
	</tr>
	</table>

<% end %>

<h1>New Book</h1>

<%= form_for(@book) do |f| %>

	<h4>Title</h4>
	<%= f.text_field :title %>

	<h4>Body</h4>
	<%= f.text_area :body %>

	<%= f.submit 'Create Book' %>


<% end %>